/* 公共组件，模块部分 */

// 顶部一级导航
// m-snav：独立导航块
// dislink：非链接导航
// drop：有下拉列表的导航样式（箭头）
// list：下拉列表
// wrap：用于下拉列表动画的包裹元素
// coma：下拉列表中各项链接公共样式

.m-snav {
  position: relative;
  float: left;
  background: #f5f5f5;
  > a {
    position: relative;
    display: block;
    padding: 0 10px;
    color: #666;
    @include ahover;
    @include hl(35px);
  }
  .dislink:hover {
    color: #666;
  }
  .drop {
    border: 1px solid transparent;
    span::after {
      content: "";
      display: inline-block;
      @include wh(7px);
      margin: 0 0 2px 6px;
      transform: rotate(45deg);
      transition: transform 0.3s ease;
      transform-origin: 75% 75%;
      border:  {
        right: 1px solid #c7c4ce;
        bottom: 1px solid #c7c4ce;
      }
    }
  }
  .list {
    position: absolute;
    top: 35px;
    left: 0;
    z-index: 20;
    height: 0;
    transform: height 0.3s ease;
    overflow: hidden;
    background: #fff;
    a {
      color: #666;
      @include ahover;
    }
    .coma > a {
      float: left;
      display: block;
      width: 81px;
      @include hl(30px);
      padding-left: 10px;
    }
  }
  &:hover {
    .drop {
      z-index: 30;
      height: 36px;
      border: 1px solid #ddd;
      border-bottom-color: #fff;
      background: #fff;
    }
    span::after {
      transform: rotate(-135deg);
      transition: transform 0.3s ease;
    }
    .list {
      border: 1px solid #ddd;
      transition: height 0.3s ease;
    }
  }
}

.u-close {
  position: absolute;
  cursor: pointer;
  font-size: 27px;
  top: 5px;
  right: 15px;
  @include wh(16px);
  @include ahover;
}

.u-hot {
  display: inline-block;
  @include wh(16px);
  background: url(../img/npbg.png) 0 -205px;
}

// .angle-btn {
//   top: ;
//   &.prev-btn {left: ;}
//   &.prev-btn {right: ;}
// }
// &:hover .angle-btn {display: block;}
.angle-btn {
  position: absolute;
  display: none;
  @include wh(38px,78px);
  z-index: 3;
  opacity: 0.6;
  &:hover {
    opacity: 1;
  }
  &.prev-btn {
    left: 0;
    @include icons(0,-51px);
  }
  &.next-btn {
    right: 0;
    @include icons(-42px,-51px);
  }
}